/* Resets */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #303030;
  line-height: 1.2;
}

/* Utilities */

a {
  color: #303030;
  text-decoration: none;
}

svg {
  height: 21px;
  width: auto;
  fill: currentColor;
}

/* Page */

/* Header */

#header {
  display: flex;
  justify-content: flex-end;
}

.h-group {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.link-h {
  margin-right: 15px;
}

.link-img {
  margin-right: 16px;
}

#user-icon {
  background-color: rgb(131, 47, 209);
  border-radius: 50%;
  color: white;
  font-size: 13px;
  font-weight: 550;
  height: 28px;
  width: 28px;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#user-icon > span {

}

#input-suffix {
  display: block;
  background: url('https://www.gstatic.com/inputtools/images/tia.png') center center no-repeat;
  height: 24px;
  width: auto;
}